## Loading modules and dataset

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import classification_report

In [ ]:
import textblob

In [ ]:
import spacy

In [ ]:
import preprocess_kgptalkie as ps
import re

In [ ]:
df = pd.read_csv('/Tweets.csv')

## Preprocess

In [ ]:
pip install git+https://github.com/laxmimerit/preprocess_kgptalkie.git --upgrade --force-reinstall

Collecting git+https://github.com/laxmimerit/preprocess_kgptalkie.git
  Cloning https://github.com/laxmimerit/preprocess_kgptalkie.git to /tmp/pip-req-build-rm9_vofo
  Running command git clone -q https://github.com/laxmimerit/preprocess_kgptalkie.git /tmp/pip-req-build-rm9_vofo
Building wheels for collected packages: preprocess-kgptalkie
  Building wheel for preprocess-kgptalkie (setup.py) ... done
  Created wheel for preprocess-kgptalkie: filename=preprocess_kgptalkie-0.1.3-cp37-none-any.whl size=11759 sha256=f8e0b64761447e38d13c723be9961cc42f90d425012ca238f818bab632c1126b
  Stored in directory: /tmp/pip-ephem-wheel-cache-fa6atmnm/wheels/a8/18/22/90afa4bd43247fb9a75b710a4a3fcd94966c022ce9e3c7d0a6
Successfully built preprocess-kgptalkie
Installing collected packages: preprocess-kgptalkie
  Found existing installation: preprocess-kgptalkie 0.1.3
    Uninstalling preprocess-kgptalkie-0.1.3:
      Successfully uninstalled preprocess-kgptalkie-0.1.3
Successfully installed preprocess-kgptalkie-0.1.3

In [ ]:
def get_clean(x):
    x = str(x).lower().replace('\\', '').replace('_', ' ')
    x = ps.cont_exp(x)
    x = ps.remove_emails(x)
    x = ps.remove_urls(x)
    x = ps.remove_html_tags(x)
    x = ps.remove_rt(x)
    x = ps.remove_accented_chars(x)
    x = ps.remove_special_chars(x)
    x = re.sub("(.)\\1{2,}", "\\1", x)
    return x

In [ ]:
df['text'] = df['text'].apply(lambda x:get_clean(x))

In [ ]:
df.head()

             tweet_id  ...               user_timezone
0  570306133677760513  ...  Eastern Time (US & Canada)
1  570301130888122368  ...  Pacific Time (US & Canada)
2  570301083672813571  ...  Central Time (US & Canada)
3  570301031407624196  ...  Pacific Time (US & Canada)
4  570300817074462722  ...  Pacific Time (US & Canada)

[5 rows x 15 columns]

## TFIDF

In [ ]:
tfidf = TfidfVectorizer(max_features = 5000)
x = df['text']
y = df['airline_sentiment']
x = tfidf.fit_transform(x)

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [ ]:
clf = LinearSVC()

In [ ]:
clf.fit(X_train, Y_train)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [ ]:
Y_pred = clf.predict(X_test)

## Precision and Recall of our model

In [ ]:
print(classification_report(Y_test, Y_pred))

              precision    recall  f1-score   support

    negative       0.86      0.91      0.88      1870
     neutral       0.66      0.60      0.63       614
    positive       0.78      0.68      0.72       444

    accuracy                           0.81      2928
   macro avg       0.76      0.73      0.74      2928
weighted avg       0.80      0.81      0.80      2928

Testing model manually

In [ ]:
x = "Such a great flight that i had today ! tnx."
x = get_clean(x)
vec = tfidf.transform([x])

In [ ]:
vec.shape

(1, 5000)

In [ ]:
clf.predict(vec)

array(['positive'], dtype=object)